@charset "utf-8";
/* CSS Document */

#masthead{
	background-image: url("../images/background.png");
	background-position: center;
	background-size: cover;
}

.hob13{
	background-color: #b9d2b1;
	background-position: center;
	background-size: cover;
	padding: 30px 0px;
}

.hob2{
	background-color: #eed2ef;
	background-position: center;
	background-size: cover;
	padding: 30px 0px;
}

.hdecor{
	background-color: #eed2ef;
	padding: 30px 0px;
}

.navbar{
	background-color: #dbebc0;
}

.hobp{
	background-color: white;
	padding: 15px;
}

h4{
	font-family: 'Fuzzy Bubbles', cursive;
	padding: 15px;
}

h1, h2, h3, h5{
	font-family: 'Fuzzy Bubbles', cursive;
	color: #291c00;
}

p, nav{
	font-family: 'Signika Negative', sans-serif;
	color: #291c00;
}

.portrait{
	padding-bottom: 15px;
}

footer{
	background-color: #776274;
}

/*an old idea I had for having image backgrounds for my three cols, didn't end up working out*/
.oldhob{
	background-image: url("../images/background.png");
	background-position: center;
	background-size: cover;
	padding: 30px 0px;
}